body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2{
      
    margin-top: 1em;
    margin-bottom: 1em;
    text-align:center;
    font-size: 3rem;
    font-weight: 900;
}
.faq{
    margin-left: 20%;
    margin-right: 20%;
    padding-bottom: 5%;
}

.réponse{
    background-color: lightgreen;
    border-radius: 0.25em;
    box-shadow: 0.5em 0.5em 0.25em gray;
    padding: 2%;
}
details{
    padding-bottom: 2%;
}

#help {
    font-size: 1em;
}

#extra_info {
    margin-top: 2em;
}

summary {
    cursor: pointer;
}